@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
    background-image: url('../img/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
} */

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='720' height='560' preserveAspectRatio='none' viewBox='0 0 720 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath2967%26quot%3b)' fill='none'%3e%3ccircle r='33.945' cx='378.74' cy='121.17' fill='url(%23SvgjsLinearGradient2968)'%3e%3c/circle%3e%3ccircle r='55.69' cx='575' cy='490.91' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='35.665' cx='89.57' cy='422.97' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='24.62' cx='318.26' cy='186.72' fill='url(%23SvgjsRadialGradient2969)'%3e%3c/circle%3e%3ccircle r='19.67' cx='440.4' cy='263.21' fill='url(%23SvgjsRadialGradient2970)'%3e%3c/circle%3e%3ccircle r='16.855' cx='39.22' cy='426.07' fill='url(%23SvgjsLinearGradient2971)'%3e%3c/circle%3e%3ccircle r='15.425' cx='192.77' cy='362.67' fill='url(%23SvgjsRadialGradient2972)'%3e%3c/circle%3e%3ccircle r='54.645' cx='573.71' cy='41.29' fill='url(%23SvgjsLinearGradient2973)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath2967'%3e%3crect width='720' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='310.85' y1='121.17' x2='446.63' y2='121.17' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2968'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3cradialGradient cx='269.02' cy='186.72' r='110.1' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2969'%3e%3cstop stop-color='rgba(226%2c 152%2c 222%2c 1)' offset='0.03'%3e%3c/stop%3e%3cstop stop-color='rgba(43%2c 39%2c 177%2c 1)' offset='0.81'%3e%3c/stop%3e%3c/radialGradient%3e%3cradialGradient cx='401.05999999999995' cy='302.54999999999995' r='111.27' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2970'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='5.509999999999998' y1='426.07' x2='72.93' y2='426.07' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2971'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3cradialGradient cx='161.92000000000002' cy='393.52' r='87.26' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2972'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='464.42' y1='41.290000000000006' x2='683' y2='41.290000000000006' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2973'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    /* background-repeat: round; */

    background-size: cover;
}

#cta {
    background-color: #39005B;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2339005B' cx='50' cy='0' r='50'/%3E%3Cg fill='%2344005c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%234f005d' cx='50' cy='100' r='50'/%3E%3Cg fill='%2359005d' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2363005d' cx='50' cy='200' r='50'/%3E%3Cg fill='%236d005c' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2376005c' cx='50' cy='300' r='50'/%3E%3Cg fill='%237f005b' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23880059' cx='50' cy='400' r='50'/%3E%3Cg fill='%23900058' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23980056' cx='50' cy='500' r='50'/%3E%3Cg fill='%23a00054' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a70052' cx='50' cy='600' r='50'/%3E%3Cg fill='%23ae004f' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b5004d' cx='50' cy='700' r='50'/%3E%3Cg fill='%23bb064a' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c11447' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c71f44' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cc2841' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d1313e' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D53A3A' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}



@media(max-width: 576px) {
    #cta {
        background-color: #39005B;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2339005B' cx='50' cy='0' r='50'/%3E%3Cg fill='%2344005c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%234f005d' cx='50' cy='100' r='50'/%3E%3Cg fill='%2359005d' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2363005d' cx='50' cy='200' r='50'/%3E%3Cg fill='%236d005c' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2376005c' cx='50' cy='300' r='50'/%3E%3Cg fill='%237f005b' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23880059' cx='50' cy='400' r='50'/%3E%3Cg fill='%23900058' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23980056' cx='50' cy='500' r='50'/%3E%3Cg fill='%23a00054' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a70052' cx='50' cy='600' r='50'/%3E%3Cg fill='%23ae004f' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b5004d' cx='50' cy='700' r='50'/%3E%3Cg fill='%23bb064a' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c11447' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c71f44' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cc2841' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d1313e' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D53A3A' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: contain;
    }
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s ease;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);

}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);

}